#new-scrap-form
  = form_for Scrap.new do |f|
    = f.file_field :image
    = f.submit

- @scraps.each do |scrap|
  %p
    %h2= scrap.read_attribute(:image)
    = image_tag scrap.image.url(:fill_thumb)
    = image_tag scrap.image.url(:fit_thumb)
